/* default: light mode */
:root {
	--background: hsl(220, 10%, 95%);

	--text-primary: hsl(220, 10%, 10%);
	--text-primary-50: hsl(220, 10%, 10%, 50%);

	--accent: hsl(0, 70%, 70%);
	--accent-secondary: hsl(0, 70%, 50%);

	--accent2: hsl(210, 70%, 70%);
	--accent2-secondary: hsl(210, 50%, 50%);

	--accent-1: 0;
	--accent-2: 70%;
	--accent-3: 70%;

	--accent2-1: 210;
	--accent2-2: 70%;
	--accent2-3: 70%;
}

/* if browser supports it and user prefers it: dark mode */
@media (prefers-color-scheme: dark) {
	:root {
		--background: hsl(220, 10%, 15%);

		--text-primary: hsl(220, 10%, 90%);
		--text-primary-50: hsl(220, 10%, 90%, 50%);

		--accent: hsl(0, 50%, 50%);
		--accent-secondary: hsl(0, 50%, 70%);

		--accent2: hsl(210, 50%, 50%);
		--accent2-secondary: hsl(210, 70%, 70%);

		--accent-1: 0;
		--accent-2: 50%;
		--accent-3: 50%;

		--accent2-1: 210;
		--accent2-2: 50%;
		--accent2-3: 50%;
	}
}

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
	--fonts: "Work Sans", sans-serif;
	background-color: var(--background);
	color: var(--text-primary);
	font-family: var(--fonts);
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: var(--text-primary);
	border-radius: 0;
}

::-webkit-scrollbar-button {
	display: none;
}

body {
    margin: 0;
	padding: 64px;
	font-size: 1.25rem;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

h1 {
	margin-top: 0;
	font-size: 2rem;
}

.primary50 {
	color: var(--text-primary-50);
}

.normal-weight {
	font-weight: normal;
}